<nav *ngIf="isLoggedIn$ | async" class="navbar navbar-expand-lg navbar-dark bg-dark top-bar">
  <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>


  <button class="navbar-toggler text-white" type="button" (click)="toggleNavbar()">
    <i class="fas fa-ellipsis-h"></i>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn text-white" id="dropdownBasic1" ngbDropdownToggle>{{selectedProject || "Project"}}</button>
          <div class="drop-area drop-area-left dropdowncustom-area dropdown-static" ngbDropdownMenu
               aria-labelledby="dropdownBasic1" *ngIf="projectsState$ | async; let projects">
            <a *ngFor="let _ of projects" ngbDropdownItem class="btn btn-block text-left text-white"
               routerLink="/project/{{_.projectName}}/scenarios"
               routerLinkActive="active" (click)="changeSelectedProject(_.projectName)">{{_.projectName}}</a>
            <app-add-project [topMenu]="true">New Project</app-add-project>
          </div>
        </div>
      </li>
    </ul>
    <div>
      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" ngbDropdown class="d-inline-block">
        <button class="btn text-white" id="dropdownSettings" ngbDropdownToggle><i class="fas fa-user"></i> {{username}}
        </button>
        <div class="drop-area drop-area-left dropdowncustom-area dropdown-dynamic" ngbDropdownMenu
             aria-labelledby="dropdownSettings">
          <a ngbDropdownItem class="btn btn-block text-left text-white" [routerLink]="['/administration/projects']"><i
            class="fas fa-cog icon"></i>Administrate</a>

          <a ngbDropdownItem class="btn btn-block text-left text-white" href="/api-docs" target="_blank"><i
            class="far fa-question-circle icon"></i>Api docs</a>

          <a ngbDropdownItem class="btn btn-block text-left text-white" [routerLink]="['/login']"><i
            class="fas fa-sign-out-alt icon"></i>
            Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
