
.top-bar {
  padding-left: 120px;
  padding-right: 120px;
}

@media (max-width: 1550px) {
  .top-bar {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 1350px) {
  .top-bar {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 1150px) {
  .top-bar {
    padding-left: 30px;
    padding-right: 30px;
  }
}


.drop {
  color: white;
  background-color: #2f353a;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  border: 0 #2f353a;
  cursor: pointer;
}

.drop:focus {
  outline: 0 !important;
}

.projects {
  padding-top: 10px;
}

a {
  overflow:hidden;
  overflow-y:hidden;
}

.project {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overview {
  background-color: #515d68
}

.global-settings {
  float: right;
  margin-right: 30px;
  margin-top: 13px;
}

.nav-title {
  text-transform: uppercase;
  color: #515d68;
  font-size: 10px;
  padding-left: 10px
}

.overview {
  background-color: #515d68
}

.icon {
  margin-right: 10px;
}

.no-project {
  margin-left: 15px;
}

#top-panel {
  width: 100%;
  position: fixed;
  padding-left: 200px;
  padding-right: 30px;
  z-index: 1;
  background-color:#f0f1f4;
  height: 50px;
  border-bottom: 1px solid #b9babd1f;
}

.drop-area .btn {
  color: black
}

.navbar-toggler {
  border: none;
}

.dropdown-item{
  line-height: 2rem;
}

.dropdown-item.active {
  color: white !important;
  background-color: #243B55;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: #5f6063  !important;
  border-radius: 0;
}

.dropdowncustom-area {
  background-color: #243B55 !important;
  color: white;
}

.dropdown-dynamic {
  top: 10px !important;
}

.dropdown-static {
  top: 48px !important;
}

.dropdown-toggle {
  box-shadow: none;
}

.bg-jtl-dark-gradient {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
