<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add test run</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="pl-2">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="kpiFile">KPI CSV file</label>
        <input type="file" id="kpiFile" class="form-control" (change)="onFileChange($event, 'kpiFile')"
          aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-group mb-3">
        <label for="monitoringFile">Monitoring CSV file</label>
        <input type="file" id="monitoringFile" class="form-control" (change)="onFileChange($event, 'monitoringFile')"
          aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-group mb-3">
        <label for="environment">Environment</label>
        <input type="testName" id="environment" class="form-control" formControlName="environment" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input type="input" id="name" class="form-control" formControlName="name" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-group mb-3">
        <label for="note">Note</label>
        <input type="note" id="note" class="form-control" formControlName="note" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-group mb-3">
        <label for="hostname">Hostname</label>
        <input type="hostname" id="hostname" class="form-control" formControlName="hostname" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-group mb-3">
        <label for="status">Status</label>
        <select id="status" class="form-control custom-select" formControlName="status">
          <option *ngFor="let s of statuses" [value]="s">
            {{s}}
          </option>
        </select>
      </div>


      <div class="form-control-feedback" *ngIf="kpiFile.errors && (kpiFile.dirty || kpiFile.touched)">
        <p class="alert alert-danger" *ngIf="kpiFile.errors.required">Jtl file is required</p>
      </div>
      <div class="form-control-feedback" *ngIf="environment.errors && (environment.dirty || environment.touched)">
        <p class="alert alert-danger" *ngIf="environment.errors.required">Environment is required</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn jtl-btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<button *userRole="'operator'" type="button" class="jtl-no-glow add-item jtl-btn-primary btn btn-sm" (click)="open(content)"> Add test run</button>
