<div class="card scenario-custom-chart card-shadow">
  <h6 class="card-header bg-transparent">
    Scenario Trends
    <span class="last-runs">last 15 test runs</span>
  </h6>
  <div class="card-body">
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="customScenarioTimeChartOption" [(update)]="updateLabelChartFlag" [oneToOne]="true"
      (click)="onPointSelect($event)"
        style="width: 100%; height: 450px; display: block;"></highcharts-chart>
    </div>
  </div>
</div>
