<div class="card" *ngIf="labelChartOptions">
  <h6 class="card-header bg-transparent">
    Label Chart - {{labelChartMetric}}
    <span *ngIf="!labelCompareChartOptions" class="float-right">

      <button class="jtl-no-glow add-item jtl-btn-light btn btn-sm" (click)="toggleSeriesVisibility($event)">{{seriesVisibilityToggleText}}</button>

      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown role="group"
        aria-label="">
        <div class="dropdown-menu jtl-dropdown-control-menu" ngbDropdownMenu>
          <button class="btn btn-sm" *ngFor="let _ of chartKeys" ngbDropdownItem
            (click)="addComparisonChart($event)">{{_}}</button>
        </div>
      </div>
    </span>
    <span class="float-right">
      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown role="group"
        aria-label="">
        <button class="btn btn-sm jtl-no-glow metrics-button jtl-control-menu" ngbDropdownToggle>{{labelChartMetric}} <i
            class="arrow"></i></button>
        <div class="dropdown-menu jtl-dropdown-control-menu" ngbDropdownMenu>
          <button class="btn btn-sm" *ngFor="let _ of chartKeys" ngbDropdownItem
            (click)="changeChart($event)">{{_}}</button>
        </div>
      </div>
    </span>
  </h6>
  <div class="card-body">
    <div class="chart">
      <highcharts-chart [Highcharts]="Highcharts" [options]="labelChartOptions" [(update)]="updateLabelChartFlag"
        style="width: 100%; height: 350px; display: block;"></highcharts-chart>
    </div>
  </div>

</div>

