<ul class="navbar-nav mr-auto" orientation="vertical">
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left jtl-no-glow" [routerLink]="['/administration/projects']"
      [routerLinkActive]="['active-link']" *userRole="'operator'">Projects</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left jtl-no-glow" [routerLink]="['/administration/api-keys']"
      [routerLinkActive]="['active-link']" *userRole="'operator'">Api keys</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left jtl-no-glow" [routerLink]="['/administration/users']"
      [routerLinkActive]="['active-link']" *userRole="'admin'">Users</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left jtl-no-glow" [routerLink]="['/administration/my-profile']"
      [routerLinkActive]="['active-link']" >My profile</a>
  </li>
</ul>

