<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left" [routerLink]="['/administration/projects']"
      [routerLinkActive]="['active-link']" *userRole="'regular'">Projects</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left" [routerLink]="['/administration/api-keys']"
      [routerLinkActive]="['active-link']" *userRole="'regular'"  >Api keys</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left" [routerLink]="['/administration/users']"
      [routerLinkActive]="['active-link']" *userRole="'admin'">Users</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-sm btn-block text-left" [routerLink]="['/administration/my-profile']"
      [routerLinkActive]="['active-link']">My profile</a>
  </li>
</ul>
