<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Project Settings</h5>
    <button type="button" style="outline: none;" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">

    </button>
  </div>

  <div class="modal-body">

    <div class="d-flex">

      <ul ngbNav #nav="ngbNav" orientation="vertical">
        <li ngbNavItem="general">
          <a ngbNavLink class="jtl-nav-link">General</a>
          <ng-template ngbNavContent>
            <form [formGroup]="projectSettingsForm" (ngSubmit)="onSubmit()" class="pl-3">

              <div class="form-group pt-3">

                <label for="projectName" class="mb-1">Project Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="projectName" formControlName="projectName">
                <div class="form-control-feedback"
                     *ngIf="formControls.projectName.errors && (formControls.projectName.dirty || formControls.projectName.touched)">
                  <p class="form-validation-error" *ngIf="formControls.projectName.errors.required">Project name is
                    required</p>
                  <p class="form-validation-error" *ngIf="formControls.projectName.errors.minlength">Project name must be
                    at least 3 characters
                    long</p>
                  <p class="form-validation-error" *ngIf="formControls.projectName.errors.maxlength">Max length is 50
                    characters</p>
                </div>
              </div>

              <hr class="mt-4">


              <div class="form-sub pt-2">
                <h6>Test Report Top Statistics Bar</h6>
                <div class="text-secondary mb-2"><i class="fas fa-info-circle"> </i>
                  <small> Please, choose up to 5 test report top statistics you would like to be displayed.</small></div>

                <div class="form-control-feedback"
                     *ngIf="metricsEditable && (projectSettingsForm.dirty || projectSettingsForm.touched)">
                  <p class="form-validation-error" *ngIf="metricsEditable">Please, make sure max 5 metrics is selected.</p>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="virtualUsers"
                           formControlName="virtualUsers" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="virtualUsers">Virtual Users</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="errorRate"
                           formControlName="errorRate" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="errorRate">Error Rate</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="errorCount"
                           formControlName="errorCount" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="errorCount">Error Count</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="percentile90"
                           formControlName="percentile90" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="percentile90">90% Percentile</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="percentile95"
                           formControlName="percentile95" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="percentile95">95% Percentile</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="percentile99"
                           formControlName="percentile99" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="percentile99">99% Percentile</label>
                  </div>



                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="throughput"
                           formControlName="throughput" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="throughput">Throughput</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="avgLatency"
                           formControlName="avgLatency" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="avgLatency">Average Latency</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="avgConnectionTime"
                           formControlName="avgConnectionTime" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="avgConnectionTime">Average Connection Time</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="avgResponseTime"
                           formControlName="avgResponseTime" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="avgResponseTime">Average Response Time</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="network"
                           formControlName="network" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="network">Network - combined </label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="network-sent"
                           formControlName="networkSent" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="network-sent">Network - sent</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="network-received"
                           formControlName="networkReceived" (change)="onCheckboxChange()">
                    <label class="form-check-label" for="network-received">Network - received</label>
                  </div>
                </div>
              </div>

              <hr class="mt-4">
              <div class="form-sub">
                <h6>Scenario auto-provisioning</h6>
                <div class="text-secondary mb-2"><i class="fas fa-info-circle"> </i>
                  <small> When pushing a test report into a scenario that does not exist, the application will create it on the fly.</small></div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="scenarioUpsert"
                           formControlName="scenarioUpsert">
                    <label class="form-check-label" for="scenarioUpsert">Enabled</label>
                  </div>
                </div>
              </div>


              <div class="modal-footer">
                <button type="submit" [disabled]="metricsEditable" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </ng-template>
        </li>

        <li ngbNavItem="project-members" *userRole="'admin'">
          <a ngbNavLink class="jtl-nav-link">Project Members</a>
          <ng-template ngbNavContent>
            <form [formGroup]="projectMembersForm" (ngSubmit)="onSubmit()" class="pl-3 pt-3">

              <div class="form-group mb-3">
                <ul>
                  <li *ngFor="let user of usersFormArray.controls; let i = index" class="list-label">
                    <label formArrayName="projectMembers" class="form-check-label">
                      <input type="checkbox" class="form-check-input" [formControlName]="i" [(ngModel)]="projectMembersData[i].isMember" [attr.disabled]="projectMembersData[i].isDisabled ? true : null">
                      {{projectMembersData[i].username}} <span class="badge badge-secondary"> {{projectMembersData[i].role}}</span>
                    </label>
                  </li>
                </ul>

              </div>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="ms-2 ml-10 w-100" ></div>
  </div>
</div>

</ng-template>

<button *userRole="'operator'" class="edit btn btn-sm dropdown-item" (click)="open(content)" ngbDropdownItem> Settings
</button>
