<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Execution File(s)</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="control-panel">
      <app-add-execution-file [params]="params"></app-add-execution-file>

    </div>
    <div class="responsive-table" *ngIf="executionFiles$ | async; let files">
      <table class="table items" [mfData]="files" #mf="mfDataTable">
        <thead>
        <tr>
          <th scope="col" class="jtl-head">
            <mfDefaultSorter by="name">File name</mfDefaultSorter>
          </th>
          <th class="jtl-head">
          </th>
        </tr>
        </thead>
        <tbody *ngIf="files.length === 0">
        <tr>
          <td></td>
          <td>
            <div class="empty-table">No data found.</div>
          </td>
          <td></td>
        </tr>
        </tbody>
        <tbody *ngIf="files.length > 0">
        <tr *ngFor="let file of mf.data">
          <td>
            {{file.filename}}
          </td>
          <td class="ellipsis">
          </td>
          <td>
            <app-delete-execution-file [file]="file" [params]="params"></app-delete-execution-file>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>


</ng-template>

<button *userRole="'operator'" type="button" class="btn btn-sm" (click)="open(content)" ngbDropdownItem>Execution files</button>
