<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit test item</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="pl-2">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="name"> Name</label>
        <input type="input" id="Name" class="form-control" formControlName="name" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-group mb-3">
        <label for="note">Note</label>
        <input type="input" id="note" class="form-control" formControlName="note" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-group mb-3">
        <label for="environment">Environment <span class="text-danger">*</span></label>
        <input type="testName" id="environment" class="form-control" formControlName="environment" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
        <div class="form-control-feedback" *ngIf="environment.errors && (environment.dirty || environment.touched)">
          <p class="form-validation-error" *ngIf="environment.errors.required">Environment is required</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="hostname">Hostname</label>
        <input type="testName" id="hostname" class="form-control" formControlName="hostname" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-group mb-3">
        <div>
            <input type="checkbox" id="base-check" [attr.disabled]="disabled ? '' : null" formControlName="base" [(ngModel)]="isBase"
            data-md-icheck />
          <label id="base-desc" class="form-check-label" for="base-check">Set as base run</label>
           <i placement="bottom"
                        ngbTooltip="Set this test report as a reference. When selected, it will enable a 'Compare to base run' shortcut in the requests statistics menu in other reports within the same scenario."><i
                          class="far fa-question-circle icon base-run-tooltip"></i></i>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<button *userRole="'operator'" class="edit btn btn-sm dropdown-item" (click)="open(content)" ngbDropdownItem> Edit</button>
