<app-control-panel>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <app-breadcrumb></app-breadcrumb>
    </li>
  </ul>
  <div>

    <div class="btn-group mr-3">
      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown role="group"
        aria-label="Button group with nested dropdown">
        <button class="btn btn-sm jtl-no-glow jtl-control-menu" ngbDropdownToggle><i class="fas fa-bars"></i></button>
        <div class="dropdown-menu jtl-dropdown-control-menu" ngbDropdownMenu>
          <app-edit-item *ngIf="itemData.environment"
            [itemDetailData]="{note: itemData.note, environment: itemData.environment, hostname: itemData.hostname, isBase: itemData.isBase, params: itemParams}"
            (itemDetailChange)="itemDetailChanged($event)"></app-edit-item>
          <app-attachements [params]="itemParams" [attachements]="itemData.attachements"></app-attachements>
          <app-delete-item *ngIf="itemData.reportStatus !== 'in_progress'" [itemData]="itemParams"></app-delete-item>
        </div>
      </div>
    </div>

  </div>
</app-control-panel>

<div class="not-ready content-container" *ngIf="itemData.reportStatus === 'in_progress'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
          Test report is being processed. Please wait.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="not-ready content-container" *ngIf="itemData.reportStatus === 'error'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="alert alert-danger" role="alert">
          An error occured during processing test report.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="items-overview content-container" *ngIf="itemData.overview !== null && itemData.reportStatus === 'ready'">
  <div class="container-fluid">
    <div class="overview-info">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body performance-overview-card">

              <div class="row">
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title text-amethyst">{{itemData.overview.maxVu}}</h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Virtual Users</div>

                  </div>
                </div>

                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title text-belize">{{itemData.overview.throughput > 1000 ?
                        Math.round(itemData.overview.throughput) : itemData.overview.throughput}} <span
                          class="unit-desc">hits/s</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Throughput <i placement="bottom"
                        ngbTooltip="Throughput is calculated as requests/unit of time. The time is calculated from the start of the first sample to the end of the last sample. This includes any intervals between samples, as it is supposed to represent the load on the server.
                      The formula is: Throughput = (number of requests) / (total time)."><i
                          class="far fa-question-circle icon"></i></i></div>

                  </div>
                </div>

                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 *ngIf="itemData.overview.percentil >= 1000" class="card-title text-percentil">{{
                        Math.round((itemData.overview.percentil / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.percentil < 1000" class="card-title text-percentil">{{
                        itemData.overview.percentil}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">90% Response time</div>

                  </div>
                </div>
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <!-- locust does not provide this metrics-->
                      <h2 *ngIf="itemData.overview.avgLatency == 0" class="card-title text-na">
                        n/a
                      </h2>
                      <h2 *ngIf="itemData.overview.avgLatency >= 1000" class="card-title text-latency">{{
                        Math.round((itemData.overview.avgLatency / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.avgLatency < 1000 && itemData.overview.avgLatency > 0"
                        class="card-title text-latency">{{
                        itemData.overview.avgLatency}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Avg. latency <i class="ttp"
                        placement="bottom"
                        ngbTooltip="JMeter measures the latency from just before sending the request to just after the first response has been received. Thus the time includes all the processing needed to assemble the request as well as assembling the first part of the response, which in general will be longer than one byte."><i
                          class="far fa-question-circle icon"></i></i></div>

                  </div>
                </div>
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <!-- locust does not provide this metrics-->
                      <h2 *ngIf="itemData.overview.avgConnect == 0" class="card-title text-na">
                        n/a
                      </h2>
                      <h2 *ngIf="itemData.overview.avgConnect >= 1000" class="card-title text-latency">{{
                        Math.round((itemData.overview.avgConnect / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.avgConnect < 1000 && itemData.overview.avgConnect > 0"
                        class="card-title text-latency">{{
                        itemData.overview.avgConnect}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Avg. connection <i class="ttp"
                        placement="bottom"
                        ngbTooltip="JMeter measures the time it took to establish the connection, including SSL handshake. Note that connect time is not automatically subtracted from latency. In case of connection error, the metric will be equal to the time it took to face the error, for example in case of Timeout, it should be equal to connection timeout."><i
                          class="far fa-question-circle icon"></i></i></div>

                  </div>
                </div>
                <div class="col-sm">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title text-alizarin">{{itemData.overview.errorRate}} <span
                          class="unit-desc">%</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Error rate</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="overview-additional">
      <div class="row info">
        <div class="col-sm">
          <div class="date top">
            <span class="text-secondary">started:</span>
            <span class="small-text">{{itemData.overview.startDate | date:'d. L. yyyy H:mm:ss'}}</span>
          </div>
          <div class="date">
            <span class="text-secondary">ended:</span>
            <span class="small-text">{{itemData.overview.endDate | date:'d. L. yyyy H:mm:ss'}}</span>
          </div>
          <div class="date bottom">
            <span class="text-secondary">duration:</span>
            <span class="small-text">{{itemData.overview.duration}} min</span>
          </div>
        </div>
        <div class="col">
          <div class="date top">
            <span class="text-secondary">environment:</span>
            <span class="small-text">{{itemData.environment}}</span>
          </div>
          <div class="date" *ngIf="itemData.status">
            <span class="text-secondary">status:</span>
            <span class="small-text">{{getTextStatus(itemData.status)}}</span>
          </div>
          <div class="date" *ngIf="itemData.hostname">
            <span class="text-secondary">hostname:</span>
            <span class="small-text">{{itemData.hostname}}</span>
          </div>
          <div class="date" *ngIf="itemData.note">
            <span class="text-secondary">note:</span>
            <span class="small-text">{{itemData.note}}</span>
          </div>
        </div>



        <div class="col-sm" *ngIf="itemData.monitoringData.cpu.length > 0">
          <div class="date top">
            <span class="text-secondary">max cpu usage:</span>
            <span class="small-text">{{itemData.monitoringData.maxCpu}}%</span>
          </div>
          <div class="date" *ngIf="itemData.status">
            <span class="text-secondary">max memory usage:</span>
            <span class="small-text">{{itemData.monitoringData.maxMem}}%</span>
          </div>
          <div class="date">
            <app-monitoring-stats [data]="itemData.monitoringData">
            </app-monitoring-stats>
          </div>
        </div>
      </div>
    </div>

    <div class="charts">
      <div class="row charts">
        <div class="col-sm">
          <div class="card">
            <h6 class="card-header bg-transparent">Overall Chart</h6>
            <div class="card-body">
              <div class="chart">
                <highcharts-chart [Highcharts]="Highcharts" [options]="overallChartOptions"
                  style="width: 100%; height: 350px; display: block;"></highcharts-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h6 class="card-header bg-transparent">Response Time</h6>
            <div class="card-body">
              <div class="chart">
                <highcharts-chart [Highcharts]="Highcharts" [options]="responseTimeChartOptions"
                  style="width: 100%; height: 350px; display: block;"></highcharts-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h6 class="card-header bg-transparent">Throughput</h6>
            <div class="card-body">
              <div class="chart">
                <highcharts-chart [Highcharts]="Highcharts" [options]="throughputChartOptions"
                  style="width: 100%; height: 350px; display: block;"></highcharts-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card request-stats">

          <h6 class="card-header bg-transparent">Request Statistics <span class="compare">

              <span class="comparison-desc" *ngIf="comparedData">Comparing to test: {{comparedMetadata.id}} with
                {{comparedMetadata.maxVu}} VU</span>
              <button class="remove-comparison btn btn-sm jtl-btn-light" *ngIf="comparedData"
                (click)="resetStatsData()"><span class="compare-desc-btn">Remove</span>
              </button>

              <div class="btn-group mr-3">
                <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown
                  role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-sm jtl-no-glow jtl-control-menu" ngbDropdownToggle><i
                      class="fas fa-bars"></i></button>
                  <div class="dropdown-menu jtl-dropdown-control-menu" ngbDropdownMenu>
                    <button class="quick-base-comparison btn btn-sm btn-outline-dark"
                      *ngIf="(itemData.baseId && itemData.baseId !== itemParams.id)"
                      (click)="quickBaseComparison(itemData.baseId)" ngbDropdownItem><span class="compare-desc-btn">
                        Compare to base run</span></button>
                    <app-stats-compare (itemDetailToCompare)="itemToCompare($event)"></app-stats-compare>
                  </div>
                </div>
              </div>

            </span></h6>
          <div class="card-body card-body-request-stats">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" id="label-filter" type="search" placeholder="label"
                (keyup)='search($event.target.value)'>
            </div>
            <div class="labels-detail table-responsive">
              <table class="table" [mfData]="labelsData" #mf="mfDataTable">
                <thead>
                  <tr>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="label">label</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="samples">samples</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="avgResponseTime">avg [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="minResponseTime">min [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="maxResponseTime">max [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="n0">90% [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="n5">95% [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="n9">99% [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="throughput">throughput [hits/s]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="bytes">avg data [kb]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                      <mfDefaultSorter by="errorRate">errorRate</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd">
                    </th>
                    <th scope="col" class="hd">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let _ of mf.data">
                    <td>{{_.label}}</td>
                    <td>{{_.samples}}</td>
                    <td>{{_.avgResponseTime}} <sup [className]="_.avgDiff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.avgDiff">{{_.avgDiff}}</sup></td>
                    <td>{{_.minResponseTime}} <sup [className]="_.minDiff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.minDiff">{{_.minDiff}}</sup></td>
                    <td>{{_.maxResponseTime}} <sup [className]="_.maxDiff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.maxDiff">{{_.maxDiff}}</sup></td>
                    <td>{{_.n0}} <sup [ngClass]="_.n0Diff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.n0Diff">{{_.n0Diff}}</sup></td>
                    <td>{{_.n5}} <sup [className]="_.n5Diff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.n5Diff">{{_.n5Diff}}</sup></td>
                    <td>{{_.n9}} <sup [className]="_.n9Diff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.n9Diff">{{_.n9Diff}}</sup></td>
                    <td>{{_.throughput || "n/a"}} <sup
                        [className]="_.throughputDiff < 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.throughputDiff">{{_.throughputDiff}}</sup></td>
                    <td>{{(_.bytes / 1024).toFixed(2) || "n/a"}} <sup
                        [className]="_.bytesDiff < 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.bytesDiff && bytesDiff !== 0">{{_.bytesDiff}}</sup></td>
                    <td>{{_.errorRate}} % <sup [className]="_.errorRateDiff > 0 ? 'value-positive' : 'value-negative'"
                        *ngIf="_.errorRateDiff">{{_.errorRateDiff}}</sup>
                    </td>
                    <td>
                      <app-label-error *ngIf="_.errorRate > 0 && hasErrorsAttachment"
                        [labelInput]="{ labelName: _.label, params: itemParams }"></app-label-error>
                    </td>
                    <td>
                      <app-label-trend [trendInput]="{ environment: itemData.environment, labelName: _.label }">
                      </app-label-trend>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
