<app-control-panel *ngIf="!isAnonymous">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <app-breadcrumb *ngIf="itemData.environment" [testName]="itemData.name"></app-breadcrumb>
    </li>
  </ul>

  <app-chart-interval *ngIf="itemData.extraPlotData" [intervals]="{ defaultInterval: itemData.plot, extraIntervals: itemData.extraPlotData}"></app-chart-interval>

  <div>

    <div class="btn-group">
      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown role="group"
        aria-label="Button group with nested dropdown">
        <button class="btn btn-sm jtl-no-glow jtl-control-menu hamburger-menu" ngbDropdownToggle><i
            class="fas fa-bars"></i></button>
        <div class="dropdown-menu jtl-dropdown-control-menu" ngbDropdownMenu>
          <app-edit-item *ngIf="itemData.environment"
            [itemDetailData]="{note: itemData.note, environment: itemData.environment, hostname: itemData.hostname, isBase: itemData.isBase, params: itemParams, name: itemData.name}"
            (itemDetailChange)="itemDetailChanged($event)"></app-edit-item>
          <app-share [params]=itemParams></app-share>
          <app-delete-item *ngIf="itemData.reportStatus !== 'in_progress'" [itemData]="itemParams"></app-delete-item>
        </div>
      </div>
    </div>

  </div>
</app-control-panel>

<div class="not-ready content-container" *ngIf="itemData.reportStatus === 'in_progress'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
          Test report is being processed. Please wait.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="not-ready content-container" *ngIf="itemData.reportStatus === 'error'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div class="alert alert-danger" role="alert">
          An error occurred during processing test report.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="items-overview content-container" *ngIf="itemData.overview !== null && itemData.reportStatus === 'ready'">


  <div class="container-fluid">

    <div class="overview-info">

      <div class="row" *ngIf="itemData.thresholds && !itemData.thresholds?.passed">
        <div class="col">
          <app-regression-alert [itemData]="itemData"></app-regression-alert>
        </div>
      </div>

      <div class="row" *ngIf="showZeroErrorToleranceWarning() === true">
        <div class="col">
          <app-zero-error-tolerance-warning></app-zero-error-tolerance-warning>
        </div>
      </div>

      <div class="row" *ngIf="itemData.analysisEnabled && chartLines.labels">
        <div class="col">
          <app-performance-analysis [itemData]="itemData" [labelsChartLines]="chartLines.labels" (overallChartChange)="toggleThroughputBand($event)">
          </app-performance-analysis>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="card card-shadow">
            <h6 class="card-header bg-white border-0">Overview <span class="total-samples"> requests: {{totalRequests | number}}</span></h6>
            <div class="card-body performance-overview-card">
              <div class="row">
                <div class="col-sm" *ngIf="itemData.topMetricsSettings.virtualUsers">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{itemData.overview.maxVu}}</h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Virtual Users</div>

                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.throughput">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{itemData.overview.throughput > 1000 ?
                        Math.round(itemData.overview.throughput) : itemData.overview.throughput}} <span
                          class="unit-desc">reqs/s</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Throughput <i placement="bottom"
                        ngbTooltip="Throughput is calculated as requests/unit of time. The time is calculated from the start of the first sample to the end of the last sample. This includes any intervals between samples, as it is supposed to represent the load on the server.
                      The formula is: Throughput = (number of requests) / (total time)."><i
                          class="far fa-question-circle icon"></i></i></div>

                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.percentile">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 *ngIf="itemData.overview.percentil >= 1000" class="card-title">{{
                        Math.round((itemData.overview.percentil / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.percentil < 1000" class="card-title">{{
                        itemData.overview.percentil}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">90% Response time</div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.avgResponseTime">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 *ngIf="itemData.overview.avgResponseTime >= 1000" class="card-title">{{
                        Math.round((itemData.overview.avgResponseTime / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.avgResponseTime < 1000" class="card-title">{{
                        itemData.overview.avgResponseTime}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Avg. Response time</div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.avgLatency">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 *ngIf="itemData.overview.avgLatency >= 1000" class="card-title">{{
                        Math.round((itemData.overview.avgLatency / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.avgLatency < 1000"
                        class="card-title">{{
                        itemData.overview.avgLatency}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Avg. latency <i class="ttp"
                        placement="bottom"
                        ngbTooltip="JMeter measures the latency from just before sending the request to just after the first response has been received. Thus the time includes all the processing needed to assemble the request as well as assembling the first part of the response, which in general will be longer than one byte."><i
                          class="far fa-question-circle icon"></i></i></div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.avgConnectionTime">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 *ngIf="itemData.overview.avgConnect >= 1000" class="card-title">{{
                        Math.round((itemData.overview.avgConnect / 1000) * 100) / 100}} <span class="unit-desc">s</span>
                      </h2>
                      <h2 *ngIf="itemData.overview.avgConnect < 1000"
                        class="card-title">{{
                        itemData.overview.avgConnect}} <span class="unit-desc">ms</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Avg. connection <i class="ttp"
                        placement="bottom"
                        ngbTooltip="JMeter measures the time it took to establish the connection, including SSL handshake. Note that connect time is not automatically subtracted from latency. In case of connection error, the metric will be equal to the time it took to face the error, for example in case of Timeout, it should be equal to connection timeout."><i
                          class="far fa-question-circle icon"></i></i></div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.network">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{convertBytesToMbps(itemData.overview.bytesPerSecond +
                        itemData.overview.bytesSentPerSecond) | number: '1.0-2'}} <span class="unit-desc">Mbps</span>
                      </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Network data</div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.errorRate">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{itemData.overview.errorRate}} <span
                          class="unit-desc">%</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Error rate</div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.errorCount">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{itemData.overview.errorCount | number}} </h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Error count</div>
                  </div>
                </div>

                <div class="col-sm" *ngIf="itemData.topMetricsSettings.networkSent">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{convertBytesToMbps(itemData.overview.bytesSentPerSecond) | number: '1.0-2'}} <span class="unit-desc">Mbps</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Network sent</div>
                  </div>
                </div>


                <div class="col-sm" *ngIf="itemData.topMetricsSettings.networkReceived">
                  <div class="card">
                    <div class="card-body overview-body">
                      <h2 class="card-title">{{convertBytesToMbps(itemData.overview.bytesPerSecond) | number: '1.0-2'}} <span class="unit-desc">Mbps</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-overview">Network received</div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <div class="overview-additional card card-shadow">
          <h6 class="card-header bg-white border-0">Summary</h6>
          <div class="card-body">
            <div class="row ml-2">
              <div class="col">
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Start time</div>
                  <div class="col-sm mb-1">
                    {{itemData.overview.startDate | date:'d. L. yyyy, H:mm:ss'}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">End Time</div>
                  <div class="col-sm mb-1">
                    {{itemData.overview.endDate | date:'d. L. yyyy, H:mm:ss'}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Duration</div>
                  <div class="col-sm mb-1">{{itemData.overview.duration}} min</div>
                </div>
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Environment</div>
                  <div class="col-sm mb-1">{{itemData.environment}}</div>
                </div>
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Status</div>
                  <div class="col-sm mb-1">{{getTextStatus(itemData.status)}}</div>
                </div>

              </div>

              <div class="col">
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Hostname</div>
                  <div class="col-sm mb-1">{{itemData.hostname}}</div>
                </div>
                <div class="row">
                  <div class="col-sm mb-1 summary-bold">Note</div>
                  <div class="col-sm mb-1">{{itemData.note}}</div>
                </div>
                <div class="row" *ngIf="itemData.monitoring.cpu.data.length > 0">
                  <div class="col-sm mb-1 summary-bold">Max CPU usage</div>
                  <div class="col-sm mb-1">{{itemData.monitoring.cpu.max}}%  <app-monitoring-stats [data]="itemData.monitoring.cpu.data">
                  </app-monitoring-stats></div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </div>
    </div>



    <div class="row middle-control">
      <div class="col">
        <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center" [destroyOnHide]="false" [(activeId)]="activeId" >
          <li ngbNavItem [ngbNavItem]="1">
            <a ngbNavLink class="nav-link bg-transparent">Overview charts</a>
            <ng-template ngbNavContent>
              <div class="row charts">
                <div class="col tab-charts overallChart">
                  <div class="card overview-chart-card card-shadow">
                    <h6 class="card-header bg-transparent">Overall Chart</h6>
                    <div class="card-body">
                      <div class="chart">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="overallChartOptions" [callbackFunction]="chartCallback"
                          [(update)]="updateChartFlag" style="width: 100%; height: 350px; display: block;">
                        </highcharts-chart>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col tab-charts" *ngIf="statusChartOptions">
                  <div class="card overview-chart-card card-shadow">
                    <h6 class="card-header bg-transparent">Status Codes Chart</h6>
                    <div class="card-body">
                      <div class="chart">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="statusChartOptions" [callbackFunction]="chartCallback"
                                          [(update)]="updateChartFlag" style="width: 100%; height: 350px; display: block;">
                        </highcharts-chart>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>
          </li>
          <li ngbNavItem [ngbNavItem]="2">
            <a ngbNavLink class="nav-link bg-transparent">Custom chart</a>
            <ng-template ngbNavContent>
              <div class="row charts">
                <div class="col tab-charts">
                  <app-analyze-charts [chartLines]="chartLines" [params]="itemParams" [isAnonymous]="isAnonymous" [showPerformanceAnalysisLines]="performanceAnalysisLines"></app-analyze-charts>
                </div>
              </div>

            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>

    <div class="row" *ngIf="itemData.sutOverview && itemData.sutOverview.length > 1">
      <div class="col">
        <div class="card table-stats card-shadow">
          <h6 class="card-header bg-transparent">Target System Statistics <span class="compare">
            </span></h6>
          <div class="card-body card-body-request-stats">
            <div class="labels-detail table-responsive">
              <table class="table" [mfData]="itemData.sutOverview" #mf="mfDataTable">
                <thead>
                  <tr>
                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="sutHostname">SUT</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="avgResponseTime">avg [ms]</mfDefaultSorter>
                    </th>

                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="percentile">P90 [ms]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="throughput">reqs/s</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="bytesPerSecond">network [mbps]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                      <mfDefaultSorter by="errorRate">error rate [%]</mfDefaultSorter>
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                    </th>
                    <th scope="col" class="hd jtl-head-color">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let _ of mf.data">
                    <td>{{_.sutHostname || "other"}}
                      <i *ngIf="!_.sutHostname" placement="bottom"
                        ngbTooltip="All samples for which we could not parse the hostname."><i
                          class="far fa-question-circle icon"></i></i>
                    </td>
                    <td>{{_.avgResponseTime | number: '1.0-2'}}</td>
                    <td>{{_.percentile | number: '1.0-2'}}</td>
                    <td>{{_.throughput | number: '1.0-2' || "n/a"}} </td>
                    <td>{{convertBytesToMbps(_.bytesPerSecond) | number: '1.0-2' || "n/a" }}</td>
                    <td>{{_.errorRate | number: '1.0-2'}} % </td>
                    <td></td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="itemData">
      <div class="col">
        <app-request-stats-compare [itemData]="itemData" [isAnonymous]="isAnonymous" [params]="itemParams" [chartLines]="chartLines"></app-request-stats-compare>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
