app-item-chart {
  display: block;
  width: fit-content;
  width: 60rem;
}

.chart {
  width: 100%;
  background: white;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

.dark-periwinkle {
  background-color: #575fcf;
  color: white
}