<app-control-panel>
    <app-administrate-navigation></app-administrate-navigation>
  <ul class="navbar-nav mr-auto">
  </ul>
  <app-add-token></app-add-token>
</app-control-panel>
<div class="administration content-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card api-keys">
          <h6 class="card-header projects-header">Users
          </h6>
          <div class="card-body" *ngIf="apiKeys$ | async; let apiKeys">
            <div class="card-body">
              <div class="table-responsive" *ngIf="apiKeys$ | async; let apiKeys">
                <table class="table items">
                  <thead>
                    <tr>
                      <th scope="col" class="head">token</th>
                      <th scope="col" class="head">description</th>
                      <th scope="col" class="head">created at</th>
                      <th scope="col" class="head"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="apiKeys.length === 0">
                      <td></td>
                      <td></td>
                      <td class="text-muted">No api tokens...</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr *ngFor="let _ of apiKeys">
                      <td>
                        <span>{{_.token}}</span>
                      </td>
                      <td>
                        {{_.description}}
                      </td>
                      <td>
                        {{_.createDate}}
                      </td>
                      <td>
                        <app-delete-token [tokenInput]="_.id"></app-delete-token>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
