<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Scenario Trends Settings</h5>
    <button type="button" style="outline: none;" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">

    </button>
  </div>

  <div class="modal-body">


    <form [formGroup]="scenarioTrendsSettingsForm" (ngSubmit)="onSubmit()" class="pl-3">

      <div class="form-group pt-3">
        <h6>Scenario Chart</h6>
      </div>

      <div class="form-check custom-radio custom-control-inline">
        <input type="radio" id="aggregatedTrends" value="true" name="aggregatedTrends" class="form-check-input"
               formControlName="aggregatedTrends">
        <label class="form-check-label" for="aggregatedTrends">Aggregated Trends</label>
      </div>
      <div class="form-check custom-radio custom-control-inline">
        <input type="radio" id="labelTrends" value="false" name="aggregatedTrends" class="form-check-input"
               formControlName="aggregatedTrends">
        <label class="form-check-label" for="labelTrends">Label Trends</label>
      </div>


      <hr class="mt-4">


      <div class="form-sub pt-2">
        <h6>Label Trend Metric</h6>
        <div class="text-secondary mb-2"><i class="fas fa-info-circle"> </i>
          <small> Please, choose up to 2 metric you would like to be displayed.</small></div>

        <div class="form-control-feedback"
             *ngIf="metricsEditable && (scenarioTrendsSettingsForm.dirty || scenarioTrendsSettingsForm.touched)">
          <p class="form-validation-error" *ngIf="metricsEditable">Please, make sure max 2 metrics are selected.</p>
        </div>

        <div class="form-group">
          <div class="form-check custom-switch">
            <input type="checkbox" class="form-check-input" id="errorRate"
                   formControlName="errorRate" (change)="onCheckboxChange()">
            <label class="form-check-label" for="errorRate">Error Rate</label>
          </div>

          <div class="form-check custom-switch">
            <input type="checkbox" class="form-check-input" id="percentile"
                   formControlName="percentile90" (change)="onCheckboxChange()">
            <label class="custom-control-label" for="percentile">90% Percentile</label>
          </div>
          <div class="form-check custom-switch">
            <input type="checkbox" class="form-check-input" id="throughput"
                   formControlName="throughput" (change)="onCheckboxChange()">
            <label class="form-check-label" for="throughput">Throughput</label>
          </div>

        </div>
      </div>


      <div class="modal-footer">
        <button type="submit" [disabled]="metricsEditable" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

</ng-template>

<button *userRole="'operator'" class="jtl-no-glow add-item jtl-btn-light btn btn-sm scenario-trends-settings" (click)="open(content)"
        > <i class="fas fa-cog"></i> Settings
</button>
