<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add new project</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="projectName">Project Name</label>
        <input type="projectName" id="projectName" class="form-control" formControlName="projectName" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
        <div class="form-control-feedback" *ngIf="projectName.errors && (projectName.dirty || projectName.touched)">
          <p class="form-validation-error" *ngIf="projectName.errors.required">Project name is required</p>
          <p class="form-validation-error" *ngIf="projectName.errors.minlength">Project name must be at least 3 characters long</p>
          <p class="form-validation-error" *ngIf="projectName.errors.maxlength">Max length is 50 characters</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn jtl-btn-primary">Submit</button>
    </div>
  </form>
</ng-template>

<div class="settings">
  <button *ngIf="topMenu === false" class="btn jtl-btn-primary btn-sm jtl-no-glow" (click)="open(content)"> Add project</button>
  <div class="spacer">
    <button ngbDropdownItem *ngIf="topMenu === true" class="btn btn-sm text-left dropdown-new-project" (click)="open(content)">New Project</button>
  </div>
</div>
