<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add new project</h5>
    <button type="button" style="outline: none;" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="projectName">Project Name <span class="text-danger">*</span></label>
        <input type="projectName" id="projectName" class="form-control" formControlName="projectName" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
        <div class="form-control-feedback" *ngIf="projectName.errors && (projectName.dirty || projectName.touched)">
          <p class="form-validation-error" *ngIf="projectName.errors.required">Project name is required</p>
          <p class="form-validation-error" *ngIf="projectName.errors.minlength">Project name must be at least 3 characters long</p>
          <p class="form-validation-error" *ngIf="projectName.errors.maxlength">Max length is 50 characters</p>
        </div>
      </div>

      <div *ngIf="users">

        <div class="form-group mb-3">
          <label>Project members</label>
          <div class="text-secondary mb-2"><i class="fas fa-info-circle"> </i>
            <small> Users with role <strong>admin</strong> are automatically granted the access.</small></div>
          <li class="list-label"  *ngFor="let user of usersFormArray.controls; let i = index">
            <label formArrayName="projectMembers">
              <input type="checkbox" [formControlName]="i" [(ngModel)]="users[i].isChecked" [attr.disabled]="users[i].isDisabled ? true : null">
              {{users[i].username}} <span class="badge badge-secondary">{{users[i].role}}</span>
            </label>
          </li>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn jtl-btn-primary">Submit</button>
    </div>
  </form>
</ng-template>

<div class="settings">
  <button *ngIf="topMenu === false" class="btn jtl-btn-primary btn-sm jtl-no-glow" (click)="open(content)"> Add project</button>
  <div class="spacer">
    <button ngbDropdownItem *ngIf="topMenu === true" class="btn btn-sm text-left dropdown-new-project" (click)="open(content)"> <i class="fas fa-plus"></i> New Project</button>
  </div>
</div>
