<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Status codes</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <div *ngIf="labelChartOption">
        <highcharts-chart [Highcharts]="Highcharts" [options]="labelChartOption" [(update)]="updateFlag"
          [constructorType]="chartConstructor" [callbackFunction]="chartCallback"
          style="width: auto; height: 400px; display: block;"></highcharts-chart>
      </div>

    </div>

  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<a (click)="open(content)"><i class="fas fa-heartbeat icon-primary"></i></a>
