<div class="card card-shadow" *ngIf="customChartsOptions">
  <h6 class="card-header bg-transparent">
    Custom Chart
    <span class="float-right">
      <div display="dynamic" [placement]="['bottom-right', 'bottom-left']" class="btn-group" ngbDropdown role="group"
        aria-label="">
        <app-add-metric [chartLines]="chartLines" [preloadedSeries]="preloadedSeries" (chartUpdate)="chartUpdated($event)"></app-add-metric>
      </div>
    </span>
  </h6>
  <div class="card-body">
    <div class="chart" id="analyzeChartAnchor">
      <highcharts-chart [Highcharts]="Highcharts" [options]="customChartsOptions" [callbackFunction]="chartCallback" [(update)]="updateLabelChartFlag" [oneToOne]="true"
        style="width: 100%; height: 350px; display: block;"></highcharts-chart>
    </div>
  </div>

</div>
