<ng-template #tipContent>
</ng-template>
<div class="card perf-issue card-shadow">
  <h6 class="card-header bg-transparent border-0 text-alizarin"><i
     class="fas fa-exclamation-triangle text-danger"></i> Performance Regression Detected <i
    class="ttp text-secondary" placement="bottom" ngbTooltip="Performance regression was detected - please check label statistics table below."><i
      class="far fa-question-circle icon"></i></i></h6>
      <div></div>
<!--  <div class="card-body">-->
<!--    <div class="perf-issue-check" *ngIf="!itemData.thresholds.result.percentile.passed"> <i-->
<!--        class="fas fa-exclamation-triangle text-danger"></i> 90 percentile response time-->
<!--      <div class="perf-analaysis-desc text-secondary"><small>-->
<!--          90 percentile response time is about {{Math.round(itemData.thresholds.result.percentile.diffValue - 100) }}%-->
<!--          slower than in the previous reports.-->
<!--        </small></div>-->
<!--    </div>-->
<!--    <div class="perf-issue-check" *ngIf="!itemData.thresholds.result.errorRate.passed"><i-->
<!--        class="fas fa-exclamation-triangle text-danger"></i> Error rate-->
<!--      <div class="perf-analaysis-desc text-secondary">-->
<!--        Error rate is about {{-->
<!--        Math.round(100 - itemData.thresholds.result.errorRate.diffValue) }}% higher than the average.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="perf-issue-check" *ngIf="!itemData.thresholds.result.throughput.passed"><i-->
<!--        class="fas fa-exclamation-triangle text-danger"></i> Throughput-->
<!--      <div class="perf-analaysis-desc text-secondary"><small> Throughput is about {{-->
<!--          Math.round(100 - itemData.thresholds.result.throughput.diffValue ) }}% lower than in the previous-->
<!--          reports.</small>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
