<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add new scenario</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="scenarioName" class="form-label">Scenario Name</label>
        <input type="input" id="scenarioName" class="form-control" formControlName="scenarioName" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
        <div class="form-control-feedback" *ngIf="scenarioName.errors && (scenarioName.dirty || scenarioName.touched)">
          <p class="form-validation-error" *ngIf="scenarioName.errors.required">Scenario name is required</p>
          <p class="form-validation-error" *ngIf="scenarioName.errors.minlength">Scenario name must be at least 3 characters
            long</p>
          <p class="form-validation-error" *ngIf="scenarioName.errors.maxlength">Max length is 50 characters</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn jtl-btn-primary">Submit</button>
    </div>
  </form>

</ng-template>

<button *userRole="'operator'" class="btn btn-sm jtl-btn-primary jtl-no-glow" id="add-new-scenario" (click)="open(content)">
  Add new scenario</button>
