<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">External notifications</h5>
    <button type="button" style="outline: none;" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

    </button>
  </div>
  <form [formGroup]="myform" >
    <div class="modal-body">
      <div class="notif-control-panel">
        <app-add-new-external-notification [params]="params"></app-add-new-external-notification>
      </div>
        <div class="responsive-table" *ngIf="notifications$ | async; let notifications">
          <table class="table items" [mfData]="notifications" #mf="mfDataTable">
            <thead>
            <tr>
              <th scope="col" class="jtl-head jtl-head-color">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th scope="col" class="jtl-head jtl-head-color">
                <mfDefaultSorter by="type">Type</mfDefaultSorter>
              </th>
              <th scope="col" class="jtl-head jtl-head-color">
                <mfDefaultSorter by="url">URL</mfDefaultSorter>
              </th>
              <th class="jtl-head">
              </th>
            </tr>
            </thead>
            <tbody *ngIf="notifications.length === 0">
            <tr>
              <td colspan="4" class="text-muted text-center">Nothing here yet! Add your first notification.</td>

            </tr>
            </tbody>
            <tbody *ngIf="notifications.length > 0">
            <tr *ngFor="let _ of mf.data">
              <td>
                {{_.name}}
              </td>
              <td>
                {{_.type}}
              </td>
              <td class="ellipsis">
                <span title={{_.url}}>{{_.url}}</span>
              </td>
              <td><app-delete-external-notification [notificationInput]="{id: _.id, name: _.name}" [params]="params"></app-delete-external-notification></td>
            </tr>
            </tbody>
          </table>

          </div>
        </div>
<!--    <div class="modal-footer">
    </div>-->
  </form>

</ng-template>

<button *userRole="'operator'" class="notification btn btn-sm btn-primary" (click)="open(content)" ngbDropdownItem> Notifications</button>
