.scenarios-overview {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #f0f1f4;
  padding-top: 20px;
  min-height: 100%;
  width: 100%;;
}

.card-header {
  border: none;
}

.create {
  margin-bottom: 30px;
}

#scenario-filter, #basic-addon1, .scenario-order {
  height: 33px;
}

.scenario-order {
  margin-left: 10px
} 

.scenario-order:focus {
  outline: 0 !important;
}