<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Add new token</h5>
      <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group mb-3">
          <label for="description" class="mb-1">Description</label>
          <input type="text" id="description" class="form-control" formControlName="description" aria-label="Default"
            aria-describedby="inputGroup-sizing-default">
          <div class="form-control-feedback" *ngIf="description.errors && (description.dirty || description.touched)">
            <p class="form-validation-error" *ngIf="description.errors.required">Description is required</p>
            <p class="form-validation-error" *ngIf="description.errors.minlength">Description must be at least 3 characters long</p>
            <p class="form-validation-error" *ngIf="description.errors.maxlength">Max length is 250 characters</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn jtl-btn-primary">Submit</button>
      </div>
    </form>
  </ng-template>

  <div class="settings">
    <button class="btn jtl-btn-primary jtl-no-glow btn-sm" (click)="open(content)">
      Add token</button>
  </div>
