app-scenario-graph {
  display: block;
  width: fit-content;
  width: 60rem;
}

.chart {
  width: 100%;
  background: white;
  border-radius: 0.25rem;
}

.dark-periwinkle {
  background-color: #575fcf;
  color: white
}