<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Delete test</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="deleteCheck">Please enter 5 random characters:</label>
        <input type="deleteCheck" id="deleteCheck" class="form-control" formControlName="deleteCheck" aria-label="Default"
          aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="form-control-feedback" *ngIf="deleteCheck.errors && (deleteCheck.dirty || deleteCheck.touched)">
        <p class="alert alert-danger" *ngIf="deleteCheck.errors.minlength">Please enter at least 5 characters...</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>

</ng-template>

<button *userRole="'operator'" class="btn btn-sm dropdown-item" (click)="open(content)" ngbDropdownItem>
  Delete
</button>
