<div class="row charts">
  <div class="col tab-charts" *ngIf="data.length > 0">
    <div class="card overview-chart-card card-shadow">
      <h6 class="card-header bg-transparent">Monitoring</h6>
      <div class="card-body">
        <div class="chart">
          <highcharts-chart [Highcharts]="Highcharts" [options]="monitoringChartOptions"
                            [callbackFunction]="chartCallback"
                            [(update)]="updateFlag"
                            [constructorType]="chartConstructor"
                            style="width: auto; height: 400px; display: block;"></highcharts-chart>
        </div>
      </div>
    </div>
  </div>
</div>
