<ng-template #content let-modal>
  <div class="modal-header" ngbAutofocus>
    <h5 class="modal-title" id="modal-basic-title">Monitoring stats</h5>
    <button type="button" class="close" aria-label="" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <highcharts-chart [Highcharts]="Highcharts" [options]="monitoringChartOptions"
      style="width: 100%; height: 400px; display: block;"></highcharts-chart>  </div>
</ng-template>




<a class="monitoring-data" (click)="open(content)"><i class="fas fa-heartbeat"></i> monitoring logs</a>
