<ng-template #content let-modal>
  <div class="modal-header" ngbAutofocus>
    <h5 class="modal-title" id="modal-basic-title">Monitoring stats</h5>
    <button type="button" style="outline: none;" class="close" aria-label="" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="monitoringChartOptions">
      <highcharts-chart [Highcharts]="Highcharts" [options]="monitoringChartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
        [constructorType]="chartConstructor" style="width: auto; height: 400px; display: block;"></highcharts-chart>
    </div>
  </div>
</ng-template>




<a class="monitoring-data" (click)="open(content)"><i class="fas fa-heartbeat"></i> monitoring logs</a>
