<div ngbDropdown class="d-inline-block">
  <button class="btn btn-sm jtl-btn-primary compare" id="dropdownBasic1" ngbDropdownToggle>Compare</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="btn btn-sm" (click)="open(content)" ngbDropdownItem><i class="fas fa-exchange-alt"></i><span class="compare-menu-item"> Select Test Report</span></button>
    <button class="btn btn-sm"
            *ngIf="(itemData.baseId && itemData.baseId !== params.id) && !comparingData"
            (click)="quickBaseComparison(itemData.baseId)"
            ngbDropdownItem><i class="far fa-file"></i>
      <span class="compare-menu-item"> Compare To Baseline</span>
    </button>
    <button *ngIf="comparingData" class="btn btn-sm" (click)="resetStatsData()" ngbDropdownItem><i class="fas fa-undo-alt"></i><span class="compare-menu-item"> Remove Comparison</span></button>
    <a *ngIf="comparingData" class="btn btn-sm" ngbDropdownItem target="_blank" href="/project/{{params.projectName}}/scenario/{{params.scenarioName}}/item/{{comparedMetadata.id}}"><i class="fas fa-external-link-alt"></i><span class="compare-menu-item"> Open Comparing Report</span></a>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Select Test Report To Compare</h5>

    <button type="button" style="outline: none;" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">

    </button>
  </div>
  <div class="modal-body">
    <form class="row g-3 scenario-select-form">
      <div class="col-md-4">
        <label for="scenarioSelect" class="form-label">Scenario</label>
                  <select  id="scenarioSelect" class='form-select rounded-left' [(ngModel)]="selectedScenario" [ngModelOptions]="{standalone: true}" (change)="loadScenario($event)">
                    <option *ngFor="let scenario of scenarios" value='{{scenario.name}}'>{{scenario.name}}</option>
                  </select>

      </div>
    </form>




    <div class="col" *ngIf="items$ | async; let items">
      <div class="responsive-table">
        <table class="table items" [mfData]="items.data" #mf="mfDataTable">
          <thead>
          <tr>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="name">name</mfDefaultSorter>
            </th>

            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="maxVu">VU</mfDefaultSorter>
            </th>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="duration">duration</mfDefaultSorter>
            </th>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="environment">environment</mfDefaultSorter>
            </th>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="note">note</mfDefaultSorter>
            </th>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="startTime">start time</mfDefaultSorter>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="status">status</mfDefaultSorter>
            </th>
            <th scope="col" class="jtl-head jtl-head-color">
              <mfDefaultSorter by="base"></mfDefaultSorter>
            </th>
            <th>
            </th>
          </tr>
          </thead>
          <tbody *ngIf="items.data.length === 0">
          <tr>
            <td></td>
            <td>
              <div class="empty-table">No data found.</div>
            </td>
            <td></td>
          </tr>
          </tbody>
          <tbody *ngIf="items.data.length > 0">
          <tr *ngFor="let _ of mf.data">
            <td>{{ _.name || 'test run' }}</td>
            <td>
              {{ _.overview.maxVu }}
            </td>
            <td>
              {{ _.overview.duration }}
            </td>
            <td>
              {{ _.environment }}
            </td>
            <td [attr.title]="_.note" class="ellipsis">
              {{ _.note }}
            </td>
            <td>
              {{ _.startTime | date:'d. L. yyyy H:mm' }}
            </td>
            <td>
              <span *ngIf="_.status === '0'" title="Passed"><i class="fas fa-check-circle text-success status-icon"></i></span>
              <span *ngIf="_.status === '1'" title="Error/Terminated"><i
                class="fas fa-minus-circle text-secondary status-icon"></i></span>
              <span *ngIf="_.status === '2'" title="Terminated"><i
                class="fas fa-minus-circle text-secondary status-icon"></i></span>
              <span *ngIf="_.status === '3'" title="Failed"><i class="fas fa-minus-circle text-danger status-icon"></i></span>
              <span *ngIf="_.status === '10'" title="Status not set"><i
                class="far fa-circle text-secondary status-icon"></i></span>
            </td>
            <td>
              <span *ngIf="_.base"><i class="fas fa-asterisk base-icon"></i></span>
            </td>
            <td>
              <input type="radio" name="item-id" [value]="_.id" (change)="onSelectionChange(_.id)">
            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="items.total > pageSize" class="d-flex justify-content-between table-footer">

          <ngb-pagination [collectionSize]="items.total" [(page)]="page" [pageSize]="pageSize"
                          aria-label="Default pagination" (pageChange)="loadMore($event)" size="sm">
          </ngb-pagination>
        </div>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="submit" (click)="loadItemToCompare()" class="btn btn-primary">Compare</button>
  </div>
</ng-template>


