.administration {
  background-color: #f0f1f4;
  padding-top: 20px;
  min-height: 100%;
  width: 100%;
  margin-left: 30px;
  padding-right: 150px;
}


@media (max-width: 1550px) {
  .administration  {
    padding-left: 80px;
  }
}

@media (max-width: 1350px) {
  .administration  {
    padding-left: 60px;
  }
}
@media (max-width: 1150px) {
  .administration {
    padding-left: 30px;
  }
}


.items {
  padding-bottom: 1px;
  background-color: white;
  border-radius: 0.23rem;
}

a {
  color: #1d1e3a
}

.items-count {
  font-size: 12px;
}

.card-body {
  padding: 0px;
}

.card-content {
  border: none;
  margin-right: -10px;
}


.projects-header {
  border: none
}

.edit {
  padding: unset;
  padding-left: 20px;
  padding-right: 35px;
}

.table td.latest-run {
  max-width: 177px;
}

.table td.latest-run span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

th {
  padding-left: 20px;
}

td {
  padding-left: 20px;
}

thead tr:hover {
  background-color: white;
}


tbody tr:hover {
  background-color: #e8e8e847;
}

.table td {
  padding-top: 12px;
  padding-bottom: 5px;
}

.settings-icon {
  font-size: 14px;
}

.inline-controller {
  float: right;
}

.navbar-collapse {
  align-items: self-start !important;
}

.card-header {
  border-bottom: none;
}
