<ng-template #content let-modal>
  <div class="modal-header" ngbAutofocus>
    <h5 class="modal-title" id="modal-basic-title">{{trendInput.labelName}}</h5>
    <select class='vu-filter rounded-left input-group-text' (change)="filterByVu($event)">
      <option value="0">No VU filter</option>
      <option *ngFor="let _ of vuFilters" value='{{_}}'>{{_}} VU</option>
    </select>
    <div class="form-check display-bar-values-form">
      <input class="form-check-input" type="checkbox" value="" id="display-bar-values" (change)="onCheckboxChange($event)">
      <label class="form-check-label" for="display-bar-values">
        Display bar values
      </label>
    </div>
    <button type="button" style="outline: none;" class="close" aria-label="" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="labelChartOption">
      <highcharts-chart [Highcharts]="Highcharts" [options]="labelChartOption" [(update)]="updateFlag"
         [oneToOne]="true" [callbackFunction]="chartCallback"
        style="width: auto; height: 450px; display: block;"></highcharts-chart>
    </div>

  </div>
</ng-template>




<a (click)="open(content)"><i class="fas fa-chart-area icon-primary"></i></a>
