<div class="dashboard content-container">

  <div class="container-fluid">

    <div class="stats">
      <div class="row" *ngIf="overallStats">
        <div class="col">
          <div class="card card-shadow">
            <div class="card-body">
              <div class="row">

                <div class="col">
                  <div class="card">
                    <div class="card-body stats-body">
                      <h2 class="card-title">{{overallStats.totalRunCount}}</h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-stats">Total test runs</div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body stats-body">
                      <h2 *ngIf="overallStats.avgDuration >= 60" class="card-title">{{
                            Math.round((overallStats.avgDuration / 60) * 100) / 100}} <span class="unit-desc">h</span>
                      </h2>
                      <h2 *ngIf="overallStats.avgDuration < 60" class="card-title">{{
                            overallStats.avgDuration}} <span class="unit-desc">m</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-stats">Average test duration</div>

                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body stats-body">
                      <h2 class="card-title">{{overallStats.avgVu}}</h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-stats">Average number of VU</div>

                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <div class="card-body stats-body">
                      <h2 *ngIf="overallStats.totalDuration >= 60" class="card-title">
                        {{Math.round((overallStats.totalDuration / 60) * 100) / 100}} <span class="unit-desc">h</span>
                      </h2>
                      <h2 *ngIf="overallStats.totalDuration < 60" class="card-title">{{
                          overallStats.totalDuration}} <span class="unit-desc">m</span></h2>
                    </div>
                    <div class="card-footer bg-transparent card-footer-stats">Total duration</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="recent-runs">
      <div class="row">
        <div class="col">
          <div class="card recent-runs card-shadow">
            <h6 class="card-header bg-transparent">Recent Test Runs</h6>
            <div class="card-body card-table">
              <div class="table-responsive">
                <table class="table items jtl-table">
                  <thead>
                    <tr>
                      <th scope="col" class="jtl-head">scenario</th>
                      <th scope="col" class="jtl-head">project name</th>
                      <th scope="col" class="jtl-head">environment</th>
                      <th scope="col" class="jtl-head">start time</th>
                      <th scope="col" class="jtl-head">status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="!latestItems || latestItems.length === 0">
                      <td colspan="5" class="text-muted no-data">Nothing here yet! Upload some test reports. <span><a href="https://jtlreporter.site/docs/guides/manual-data-upload">Show me how!</a></span></td>
                    </tr>
                    <tr *ngFor="let _ of latestItems" (click)="open(_.projectName, _.name, _.id)">
                      <td class="ellipsis">
                        {{_.name}}
                      </td>
                      <td>
                        {{_.projectName}}
                      </td>
                      <td>
                        {{_.environment}}
                      </td>
                      <td class="ellipsis">
                        {{_.overview.startDate | date:'d. L. yyyy H:mm'}}
                      </td>
                      <td>
                        <span *ngIf="_.status === '0'" title="Passed"><i class="fas fa-check-circle text-success status-icon"></i></span>
                        <span *ngIf="_.status === '1'" title="Error/Terminated"><i class="fas fa-minus-circle text-secondary status-icon"></i></span>
                        <span *ngIf="_.status === '2'" title="Terminated"><i class="fas fa-minus-circle text-secondary status-icon"></i></span>
                        <span *ngIf="_.status === '3'" title="Failed"><i class="fas fa-minus-circle text-danger status-icon"></i></span>
                        <span *ngIf="_.status === '10'" title="Status not set"><i class="far fa-circle text-secondary status-icon"></i></span>
                        <i *ngIf="_.thresholdPassed === false"
                           class="fas fa-exclamation-circle text-alizarin issue"></i>
                        <i *ngIf="isValidationEnabled(_.zeroErrorToleranceEnabled, _.minTestDuration) && displayItemValidationError(_.zeroErrorToleranceEnabled, _.overview.errorCount, _.overview.errorRate, _.overview.duration, _.minTestDuration) === true" placement="bottom"
                           ngbTooltip="Failure(s) detected"><i class="fas fa-bug text-alizarin issue"></i></i>
                        <i *ngIf="isValidationEnabled(_.zeroErrorToleranceEnabled, _.minTestDuration) && !displayItemValidationError(_.zeroErrorToleranceEnabled, _.overview.errorCount, _.overview.errorRate, _.overview.duration, _.minTestDuration)" placement="bottom"
                           ngbTooltip="No failures were detected"><i class="fas fa-check-square text-success issue"></i></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
