<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Edit scenario</h5>
    <button type="button" style="outline: none;" class="close" aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="scenarioSettingsForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Scenario name</label>
          <input type="text" class="form-control" formControlName="scenarioName">
        </div>

      <div class="form-sub">
        <h6>Thresholds</h6>
        <div class="desc text-secondary"><i class="fas fa-info-circle"> </i>
          <small> Scenario thresholds will raise an alert in a report detail in case the given metrics diverge from the previous
            reports average by more than specified threshold percentage.</small></div>

        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="thresholdEnabled" formControlName="thresholdEnabled">
            <label class="custom-control-label" for="thresholdEnabled">Enabled</label>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">90% percentil</label>
          <input type="input" class="form-control" formControlName="thresholdPercentile">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Throughput</label>
          <input type="text" class="form-control" formControlName="thresholdThroughput">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Error rate</label>
          <input type="text" class="form-control" formControlName="thresholdErrorRate">
        </div>
      </div>

      <div class="form-sub">
        <h6>Performance analysis</h6>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="analysisSwitch" formControlName="analysisEnabled">
            <label class="custom-control-label" for="analysisSwitch">Enabled</label>
          </div>
        </div>
      </div>
    </div>




    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>


</ng-template>

<button class="edit btn btn-sm btn-primary" (click)="open(content)" ngbDropdownItem> Settings</button>
