/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

.maroon {
  background-color: #85144b;
  color: white;
}

.greenland-green {
  background-color: #22a6b3;
  color: white;
}

.text-greenland-green {
  color: #22a6b3;
}

.alizarin {
  background-color: #e74c3c;
  color: white;
}

.text-alizarin {
  color: #e74c3c;
}

.amethyst {
  background-color: #9b59b6;
  color: white;
}

.text-amethyst {
  color: #9b59b6
}

.belize {
  background-color: #2980b9;
  color: white;
}

.text-belize {
  color: #2980b9;
}

.samaritane {
  background-color: #3c6382;
  color: white;
}

.text-samaritane {
  color: #3c6382;
}

.carrot {
  background-color: #e58e26;
  color: white;
}

.percentil {
  background-color: #117a8b;
  color: white;
}

.text-percentil {
  color: #117a8b;
}

.text-carrot {
  color: #e58e26;
}

body {
  background-color: #f0f1f4
}

.navigate-back {
  background: none;
  font-size: 20px;
  color: #696868;
  padding: 0;
  border: none;
}

a:hover {
  cursor: pointer;
}


.icon-primary {
  color: #2d7acc
}

.icon-primary:hover {
  color: #105196
}

.jtl-head {
  font-size: 12px;
  padding-bottom: 5px;
  border-top: 0 !important;
  width: 30rem;
  height: 43px;
  color: #000000b5;
}

.jtl-head-color {
  color: #000000b5;
}

.jtl-dropdown-control-menu {
  box-shadow: #0c0c0d30 0px 5px 12px 4px;
  border: none;
}

.jtl-control-menu::after {
  display: none;
}


.jtl-no-glow,
.jtl-no-glow:active {
  box-shadow: none !important;
  outline: 0px !important;
}

.jtl-btn-light {
  color: #4b7cf3;
  background-color: #f2f4f8;
}

.jtl-btn-light:hover {
  background-color: #dee3ed;
  border-color: #dee3ed;
  color: #4b7cf3;
}

.jtl-btn-primary {
  color: white;
  background-color: #4b7cf3;
}

.jtl-btn-primary:hover {
  background-color: #5f88ee;
  color: white;
}

.jtl-a-primary {
  color: #4b7cf3 !important;
}

.jtl-a-primary:hover {
  color: #5f88ee !important;

}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.hamburger-menu:hover {
  color: #4b7cf3;
}

.jtl-primary-color {
  color: #4b7cf3;
}

.jtl-table tr td:first-child {
  padding-left: 2.5rem;
}

.jtl-table tr th:first-child {
  padding-left: 2.5rem;
}

.card h6 {
  font-weight: 600;
  padding-top: 1.25rem;
}

.card-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.label-modal .modal-dialog {
  max-width: 90% !important;
}

.form-validation-error {
  font-size: 80%;
  color: #dc3545;
  margin-top: 0.25rem;
}


input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.jtl-nav-link {
  font-weight: 350;
  color: #24292f;
}

.jtl-nav-link.active {
  font-weight: 500;
  color: black;
  border-left: 4px solid #4b7cf3;
}
